@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
@import url('https://fonts.cdnfonts.com/css/satoshi');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
* { margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: 'Outfit', sans-serif;
}

navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #fff;
  height: 72px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}


.nav-links {
  display: flex;
  gap: 1rem;
}

.nav-items {
  display: flex;
  gap: 2.3rem;
  margin-left: 20px;
  margin-right: 22px;
  color: #3c3c3c;
}

.nav-items-register {
  display: flex;
  gap: 2.3rem;
  margin-left: 20px;
  color: #3c3c3c;
}

a {
  text-decoration: none;
  color: inherit; 
}

ul {
    list-style: none;
}

.sign-up a {
  background-color: lab(25.9% 63.42 -77.48);
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 25px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    margin-right: 1rem;
    width: 64px;
    height: 64px;
}

.logo h2 {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

 section {
  width: 100%;
  margin: 0 auto;
}
.section-1-text {
  width: 40%;
  margin: 0 auto;
  padding: .8rem;
}

.section-1-text h1 {
margin-top: 2.2rem;
  font-weight:550;
  font-family: 'Satoshi', sans-serif;
  width:90%
}
.section-1-img {
  margin: 0 auto;
  width: 60%;
}

.section-1-description {
    font-size: 0.9rem;
    letter-spacing: 0.7px;
}

.section-1-img img {
width: 100%;
  display: block;}

.section-1 {
display: flex;
justify-content: space-between;
margin-top: 2rem;
position: relative;
max-width:1180px;

}

.highlight {
    color: #433ac1;
}
.section-1-description {
    margin-top: .6rem;
color: #3c3c3c;
margin-bottom: 1rem;
}

.section-1-btn {
  background-color: #433ac1;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  text-decoration: none;
  font-size:.77rem;
  font-family: 'Noto Sans', sans-serif;
}
.section-1-input {
    border: 1px solid #ccc;
    border-radius: 8px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

input {
    border: 0px;
    margin-left: 1rem;
}

.customers-logo {
    margin-top: 0.75rem;
}
.customers-logo img {
    width: 100%;
    display: block;
}
.customers p {
margin-top: 3rem;
font-family: 'Aboreto', sans-serif;
font-size: 1.3rem;
font-weight: 650;
color:#2f2f2f
}

.section-2 {
    max-width:1200px;
    margin-top: 4.25rem;
}

.section-2-header {
    text-align: center;
}

.features {
    color: #3a32ac;
    margin-bottom: .5rem;
}

.service {
    color: #433ac1;
}

.features-description-2 {
    color:#3c3c3c;
    font-size: 0.9rem;
    margin-top: .5rem;
    max-width: 70%;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.services {
    display: flex;
    width: calc((100% - 48px) / 3);
    margin-bottom: .40rem;

}

.service-bio {
    display: flex; 
    flex-direction: column;
}

.services-wrapper {
    display: flex;
    flex-wrap: wrap;    
    gap: 24px;
    margin-top: 2.15rem;
}

.service-img {
    margin-top: .25rem;
    margin-right: 1.86rem;
    border: 1px solid #ccc;
    border-radius: 50%;
    max-height:fit-content;
    padding: .83rem;
    display: flex;
    align-items: center;
}

.service-title {
    margin-bottom: .12rem;
    font-family: 'satoshi', sans-serif;
    font-size: 1rem;
}

.service-description {
    font-size:.92rem;
}

.features-description {
    font-size: 2.1rem;
    margin-bottom: .02rem;
}

.section-3 {
    display: flex;
    margin-top: 8.5rem;
    margin-bottom: 8.5rem;
    max-width: 1200px;
    justify-content: space-between;
}
.section-3-hero {
    margin: 0 auto;
    width: 50%;
}
.section-3-img {
    width: 50%;
    margin: 0 auto;
}

.section-3-img img {
    display: block;
    width:100%;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.section-3-title {
    color:#3a32ac;
    font-weight: 550;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.section-3-heading {
    letter-spacing: .05rem;
    margin-bottom: 0.5rem;
}

.pro {
    color: #3a32ac;
}

.section-3-bio {
    color: #2f2f2f;
    margin-bottom: 1.22rem;
    width: 90%;
}

.section-4 {
    width: 1200px;
    display: flex;
    margin-top: 5.25rem;
}

.steps {
    display: flex;
}

.steps-description {
    display: flex;
    flex-direction: column;
}

.section-4-img {
    width: 50%;
    margin-top: 3rem;
    margin-right: 1rem;
}

.section-4-img img {
    width: 100%;
    display: block;
    padding: 1rem;
}

.section-4-hero {
width: 50%;
}

.steps {
    margin-bottom: 1rem;
}

.heading {
    color: #3a32ac;
    font-size: 1.25rem;
    font-weight: 500;
}

.title {
    letter-spacing: .09rem;
    font-size: 2rem;
    margin-bottom: .65rem;
}

.started {
    color: #3a32ac;
}

.number {
    color: #5c5b5b;
    font-size: 2rem;
    margin-right: 1.75rem;
    font-family: 'Montserrat';
    font-weight: 550;
}

.steps-description {
    font-size: 1.5rem;
    font-weight: 475;
}

.steps-description p {
    font-size: 1rem;
    color: #525151;
    font-weight: 400
}

.section-5 {
    width: 1300px;
    margin-top: 6.5rem;
}
.section-5-heading {
    display: flex;
    flex-direction: column;
    align-items: center;    
    text-align: center;
    width: 100%;
}

.section-5-heading p {
    width: 65%;
}

.pricing-cards {
    border: 1.02gpx solid rgb(187, 186, 186);
    border-radius: 7px;
    width: calc(100%/6);
    text-align: center;
    padding: 10px;
    border: 1px solid rgb(224, 221, 221);
    background: linear-gradient(to right, #27dcab, #3ef7c6) top / 100% 5px no-repeat;
    padding-top: 12px;
}
  
    .pricing-cards-3 {
    border: 1.02gpx solid rgb(187, 186, 186);
    border-radius: 7px;
    width: calc(100%/4);
    text-align: center;
    padding: 10px;
    border: 1px solid rgb(224, 221, 221);
    background: linear-gradient(to right, #d31a1a, #f04e50) top / 100% 5px no-repeat;
    padding-top: 12px;}

.pricing-cards-3 {
    border: 1.02gpx solid rgb(187, 186, 186);
    border-radius: 7px;
    width: calc(100%/4);
    text-align: center;
    padding: 10px;
    border: 1px solid rgb(224, 221, 221);
}


.membership-title {
   padding: 2px;
    padding-bottom: 1rem;
    color: black;
    font-family: 'Satoshi';
    text-align: center; 
    margin-bottom: 1rem;
    border-bottom: 0.15px solid;
    border-image: linear-gradient(to right, #4d4d4d, #d3d4d5) 1; }
  

.membership-title p {
   font-weight: 500;
}
.membership-title-2 h3 {
   font-weight: 500;
}
.membership-title-3 h3 {
   font-weight: 500;
}
.perks {
    color: white;
}
.perk {
    color: white;
    
}
.perk-2 {
    padding-bottom: 2rem;
border-bottom: 0.15px solid;
    border-image: linear-gradient(to right, #565657, #d2d3d3) 1;
}

.perks-2{
    color: black;
}
.monthly {
    font-size: 1rem;
    font-weight: 250;
}


 .membership-info p {
    margin-bottom: 1.7rem;
 }

 .membership-type  {
    color: white;
 }

 .membership-type-1 {
    color: black;
    margin-bottom: 2rem;
 }

 .subscribe { 
  display: flex;
  align-items: center;
  justify-content: center;
 }

 .buy-now {
   border-radius: 13px;
    padding: 18px;
    background: #fbfbfb;
    color: rgb(27, 4, 142);
    width: 50%;
    margin: 1rem;
  
 }
 .buy-now-2 {
    border-radius: 13px;
    padding: 18px;
    background: #fbfbfb;
    color: rgb(27, 4, 142);
    width: 50%;
    margin: 1rem;
 }
 .buy-now-3 {
   border-radius: 13px;
    padding: 18px;
    background: #fbfbfb;
    color: rgb(27, 4, 142);
    width: 50%;
    margin: 1rem;
 }

 .membership-title h3{
    font-weight: 475;
 }



.membership-type {
    padding-bottom: 1.5rem;
}




.perk {
    padding-bottom: 2rem;
border-bottom: 0.15px solid;
    border-image: linear-gradient(to right, #09055b, #0966b2) 1;
}

.membership-quotes {
    width: 100%;
    display:flex;
    justify-content: space-around;
    margin-top: 4rem;
    flex-wrap: wrap;
}

.pricing-cards {
    width: calc(100%/4);
}

.plans {
    color: #3a32ac;
}

.pricing {
    color: #3a32ac;
    font-weight: 500;
}

.membership-title-2 {
    padding: 2px;
    padding-bottom: 1rem;
    color: white;
    font-family: 'Satoshi';
    text-align: center; 
    margin-bottom: 1rem;
    border-bottom: 0.15px solid;
    border-image: linear-gradient(to right, #1e16b3, #297abc) 1; 
}

    .pricing-cards-2 {
          background: linear-gradient(135deg, #5f44f9, #5f44f9);
border: 1.02gpx solid rgb(187, 186, 186);
    border-radius: 8px;
    width: calc(100%/3.7);
    text-align: center;
    width: calc(100%/4);
    padding-top: 1rem;
    border: 1px solid rgb(224, 221, 221);

    }


  .membership-title-3 {
    padding: 2px;
    padding-bottom: 1rem;
    color: black;
    font-family: 'Satoshi';
    text-align: center; 
    margin-bottom: 1rem;
    border-bottom: 0.15px solid;
    border-image: linear-gradient(to right, #4d4d4d, #d3d4d5) 1; }
  .pricing {
    padding-bottom: 1rem;
  }

  .membership-info {
    width: 100%;
  }

  .monthly {
    border-bottom: 1px solid
    margin-bottom: 1rem;
  }


  .section-5-heading h1 {
    margin-bottom: 0.25rem;
  }

  .section-6 {
    font-family: 'Satoshi';
    background-color: #5045f0 ;
    margin-top: 6rem;
  }

  .footer-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1180px;
    margin: 0 auto;
    color: white;
    font-size: .95rem;
    padding-top: 3.5rem;
    padding-bottom: 3rem;
    border-bottom: 0.4px solid rgb(66, 25, 189);
  }

  .footer-section h2 {
    font-size: 1.02rem;
    flex-direction: column;
    margin-bottom: 1.4rem;
    font-weight: 525;
  }

  .footer-section p {
    margin-bottom: .5rem;
  }

  .light-logo img {
    height: 2.5rem;
    width: 2.5rem;
}

    .light-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-around;
        margin-top: 2.5rem;
        padding-bottom: 2.5rem;
    }
    .treact-light-logo {
        display: flex;
        align-items: center;
    }
    .copyright {
        color: white;
    }

    .section-7 {
        width: 1180px;
        display: flex;
        justify-content: space-between;
        margin-top: 8.5rem;
    }

    .section-7-text {
        width: 50%;
        margin-top: 1rem;
    }

    .section-7-text p{
        color: #1e16b3;
        font-weight: 500;
        letter-spacing: .05rem;
        font-size: 1.35rem;
        margin-bottom: .1rem;
        margin-top: 1.5rem;
    }

    .section-7-text h2{
        font-size: 2.25rem;
        margin-bottom: 0.5rem;
    }
     .section-7-bio {
        color: #2f2f2f;
        font-size: 1.1rem;
     }
    .principles {
        color:#1e16b3;
    }

   

    .section-7-img {
        width: 50%;
    }

    .section-7-img img {
        width: 100%;
        display: block;
    }

    .incentives {
        width: 100%;
        margin-top: 1.2rem;
        display: flex;
        justify-content: space-between;
    }

    .affordable {
        width: 50%;
    }

    .professionalism {
        width: 50%;
    }

    .affordable-title {
        display: inline;
        font-size: 1.5rem;
        margin-bottom: .7rem;

    }
    .professionalism-title {
        display: inline;
        font-size: 1.5rem;
        margin-bottom: .7rem;
    }
    .money  {
        margin-right: 0.5rem;
        font-size: 1.9rem;
        color: #128869;
    }

    .suitcase {
        margin-right: 0.5rem;
    }

    .affordable-bio {
        display: block;
        letter-spacing: .02rem;
        word-spacing: .02rem;
        color:#2f2f2f;
    }

     .professionalism-bio {
        display: block;
        letter-spacing: .02rem;
        word-spacing: .02rem;
        color:#2f2f2f;

    }

  .learn-more {
    background-color: #1e16b3;
    border-radius: 13px;
    margin-top: 1.5rem;
    color: white;
    padding: 0.8rem 1.6rem;
    font-size: 0.95rem;
  }

  .section-8 {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin-top: 6.5rem;
    margin-bottom: 8.5rem;
  }

  .section-8-img {
    width: 50%;
  }

  .section-8-img img {
    width: 100%;
    display: block;
  }

  .section-8-text {
    width: 47%;

  }

  .testimonials {
    margin-top: 2rem;
    color: #3a32ac;
    font-weight: 475;
    margin-bottom: 0.5rem;
  }

  .section-8-header {
    color: #2f2f2f;
    font-size: 2rem;
    margin-bottom: 2.5rem;
  }

  .love_us {
    color: #3a32ac;
  }

  .ratings-header {
    font-size: 1.3rem;
    margin-bottom: .75rem;
  }

  .ratings-bio {
    width: 90%;
    font-size: 1.1rem;
  }
  .reviewer-pic {
    width: 15%;
    border-radius: 50% ;
  }

  .review-slide {
    display: flex;
    margin-top: 1.5rem;
    align-items: center;
  }

.about-reviewer {
    margin-left: 1rem;
    font-size: 1.25rem;
}

.review-occupation {
    color: #4e4d4d;
}

  .about-reviewer {
    display: flex;
    flex-direction: column;
  }

  @media (max-width: 768px) {
    .section-1 {
        flex-direction: column;
    }
    .section-1 div {
        width: 100%;
    }
    .nav-links {
    display: none;    }

    .section-1 img {
        width: 80%;
        margin: 0 auto;
    }
 

   .section-2 p {
    width: 100%;
   }
   .section-3 {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    display: block;
}
   .section-3 p {
    width: 100%;
   }

   .services-wrapper {
    padding-right: 3rem;
   }
   .section-3-img {
    width: 80%;
    margin-top: 1rem;
   }
   .section-3-hero {
    width: 80%;
   }

   .section-4-img img {
    width: 70%;
    justify-content: center;
    display: block;
    margin-left: 4rem;
}
   .section-4 {
    flex-direction: column;
justify-content: center;
display: block;   
margin-left: 2rem;}
   .section-4-hero div{
    width: 90%;
   }
   .section-7 {
    width: 1000px;
    flex-direction: column;
    margin-left: 2rem;
   }

   .section-5-heading {
width: 100%;   
display: block;}

.section-5 {
    display: flex;
    flex-direction: column;
    width: 700px;
    margin-left: 2.4rem;
}
.section-5-heading{
    width: 75%;
}

.section-5 p {
    margin: 0 auto;
    width: 100%;
}
.membership-quotes {
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    margin-left: 1rem;
}
.pricing-cards {
    width: 55%; 
    margin-top: 2rem;
    margin-left: 3rem;
}

.pricing-cards-3 {
    width: 55%;
    margin-top: 1rem;
    margin-left: 3rem;
}
.pricing-cards-2 {
    width: 55%;
    margin-top: 1rem;
    margin-left: 3rem;

}
   
   .section-8 {
    flex-direction: column;
    margin-left: 1rem;
   }
   .section-8-img {
    max-width: 700px;
   }
   .section-8-img img {
    width: 90%;
   }
   .section-6 {
    flex-direction: column;
   }
   .footer-wrapper {
flex-wrap: wrap;    
max-width: calc(768px/1.5);
font-size: 1rem;
   }
   .footer-wrapper h2 {
    font-size: 1rem;
    margin-top: 1rem;
   }
   }
  