@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
@import url('https://fonts.cdnfonts.com/css/satoshi');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
* { margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: 'Outfit', sans-serif;
}

navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #fff;
  height: 72px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}


.nav-links {
  display: flex;
  gap: 1rem;
}

.nav-items {
  display: flex;
  gap: 2.3rem;
  margin-left: 20px;
  margin-right: 22px;
  color: #3c3c3c;
}

.nav-items-register {
  display: flex;
  gap: 2.3rem;
  margin-left: 20px;
  color: #3c3c3c;
}

a {
  text-decoration: none;
  color: inherit; 
}

ul {
    list-style: none;
}

.sign-up a {
  background-color: lab(25.9% 63.42 -77.48);
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 25px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    margin-right: 1rem;
    width: 64px;
    height: 64px;
}

.logo h2 {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

 section {
  width: 100%;
  max-width:1180px;
  margin: 0 auto;
}
.section-1-text {
  width: 40%;
  margin: 0 auto;
  padding: .8rem;
}

.section-1-text h1 {
margin-top: 2.2rem;
  font-weight:550;
  font-family: 'Satoshi', sans-serif;
  width:90%
}
.section-1-img {
  margin: 0 auto;
  width: 60%;
}

.section-1-description {
    font-size: 0.9rem;
    letter-spacing: 0.7px;
}

.section-1-img img {
width: 100%;
  display: block;}

.section-1 {
display: flex;
justify-content: space-between;
margin-top: 2rem;
position: relative;
}

.highlight {
    color: #433ac1;
}
.section-1-description {
    margin-top: .6rem;
color: #3c3c3c;
margin-bottom: 1rem;
}

.section-1-btn {
  background-color: #433ac1;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  text-decoration: none;
  font-size:.77rem;
  font-family: 'Noto Sans', sans-serif;
}
.section-1-input {
    border: 1px solid #ccc;
    border-radius: 8px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

input {
    border: 0px;
    margin-left: 1rem;
}

.customers-logo {
    margin-top: 0.75rem;
}
.customers-logo img {
    width: 100%;
    display: block;
}
.customers p {
margin-top: 3rem;
font-family: 'Aboreto', sans-serif;
font-size: 1.3rem;
font-weight: 650;
color:#2f2f2f
}

.section-2 {
    max-width:1050px;
    margin-top: 4.25rem;
}

.section-2-header {
    text-align: center;
}

.features {
    color: #3a32ac;
    margin-bottom: .5rem;
}

.service {
    color: #433ac1;
}

.features-description-2 {
    color:#3c3c3c;
    font-size: 0.9rem;
    margin-top: .5rem;
    max-width: 70%;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.services {
    display: flex;
    width: calc((100% - 48px) / 3);
    margin-bottom: .40rem;

}

.service-bio {
    display: flex; 
    flex-direction: column;
}

.services-wrapper {
    display: flex;
    flex-wrap: wrap;    
    gap: 24px;
    margin-top: 2.15rem;
}

.service-img {
    margin-top: .25rem;
    margin-right: 1.86rem;
    border: 1px solid #ccc;
    border-radius: 50%;
    max-height:fit-content;
    padding: .83rem;
    display: flex;
    align-items: center;
}

.service-title {
    margin-bottom: .12rem;
    font-family: 'satoshi', sans-serif;
    font-size: 1rem;
}

.service-description {
    font-size:.92rem;
}

.features-description {
    font-size: 2.1rem;
    margin-bottom: .02rem;
}

.section-3 {
    display: flex;
    margin-top: 8rem;
    max-width: 1200px;
    justify-content: space-between;
}
.section-3-hero {
    margin: 0 auto;
    width: 50%;
}
.section-3-img {
    width: 50%;
    margin: 0 auto;
}

.section-3-img img {
    display: block;
    width:100%;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.section-3-title {
    color:#3a32ac;
    font-weight: 425;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.section-3-heading {
    letter-spacing: .05rem;
    margin-bottom: 0.5rem;
}

.pro {
    color: #3a32ac;
}

.section-3-bio {
    color: #2f2f2f;
    margin-bottom: 1.22rem;
    width: 90%;
}

.section-4 {
    width: 1200px;
    display: flex;
    margin-top: 5.25rem;
}

.steps {
    display: flex;
}

.steps-description {
    display: flex;
    flex-direction: column;
}

.section-4-img {
    width: 50%;
    margin-top: 3rem;
    margin-right: 1rem;
}

.section-4-img img {
    width: 100%;
    display: block;
    padding: 1rem;
}

.section-4-hero {
width: 50%;
}

.steps {
    margin-bottom: 1rem;
}

.heading {
    color: #3a32ac;
    font-size: 1.25rem;
    font-weight: 500;
}

.title {
    letter-spacing: .09rem;
    font-size: 2rem;
    margin-bottom: .65rem;
}

.started {
    color: #3a32ac;
}

.number {
    color: #787676;
    font-size: 2rem;
    margin-right: 1.75rem;
    font-family: 'Satoshi';
}

.steps-description {
    font-size: 1.5rem;
    font-weight: 475;
}

.steps-description p {
    font-size: 1rem;
    color: #525151;
    font-weight: 400
}

.section-5 {
    width: 1200px;
    margin-top: 9.5rem;
}
.section-5-heading {
    display: flex;
    flex-direction: column;
    align-items: center;    
    text-align: center;
    width: 100%;
}

.section-5-heading p {
    width: 65%;
}

.pricing-cards {
    border: .6px solid rgb(187, 186, 186);
    border-radius: 13px;
    width: calc(100%/3);
    text-align: center;
    padding: 10px;
         box-shadow: 0 4px 8px 4px rgba(54, 54, 54, 0.28);



}

.membership-title {
    padding: 2px;
    border: .25px solid rgb(201, 198, 198);
  background: linear-gradient(135deg, #687fe4, #893bd7);
    border-radius: 10px;
    color: white;
    font-family: 'Satoshi';
    text-align: left;
    padding-bottom: 2rem;
    padding-left: 0.6rem;
    padding-top: 0.6rem;
    padding-right: 1rem;
  
}
.membership-title p {
   font-weight: 500;
}
.membership-title-2 h3 {
   font-weight: 500;
}
.membership-title-3 h3 {
   font-weight: 500;
}
.perks {
}
.monthly {
    font-size: 1rem;
    font-weight: 250;
}


 .membership-info p {
    margin-bottom: 1.7rem;
 }

 .membership-type  {
    margin-top: 1.5rem;
    margin-bottom: 1.7rem;
 }

 .subscribe { 

 }

 .buy-now {
    border-radius: 13px;
    padding: 18px;
    background: #827afb;
    color: white;
 }
 .buy-now-2 {
    border-radius: 13px;
    padding: 18px;
    background: #4035b4;
    color: white;
    width: 100%;
 }
 .buy-now-3 {
    border-radius: 13px;
    padding: 18px;
    background: #1ca266;
    color: white;
    width: 100%;
 }

 .membership-title h3{
    font-weight: 475;
 }

.perks {
    border-bottom: .3px solid rgb(154, 153, 153);
    padding-bottom: 1rem;
}

.membership-type {
    border-bottom: 0.3px solid grey;
    padding-bottom: 1.5rem;
}


.buy-now {
    width: 100%;
}

.perk {
    margin-bottom: 2rem;
}

.membership-quotes {
    width: 100%;
    display:flex;
    justify-content: space-around;
    margin-top: 4rem;
}

.pricing-cards {
    width: calc(100%/3.7);

}

.plans {
    color: #3a32ac;
}

.pricing {
    color: #3a32ac;
    font-weight: 500;
}

.membership-title-2 {
    padding: 2px;
    border: .25px solid rgb(201, 198, 198);
  background: linear-gradient(135deg, #122889, #893bd7);
    border-radius: 10px;
    color: white;
    font-family: 'Satoshi';
    text-align: left;
    padding-bottom: 2rem;
    padding-left: 0.6rem;
    padding-top: 0.6rem;
    padding-right: 1rem;
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.28);}

  .membership-title-3 {
    padding: 2px;
    border: .25px solid rgb(201, 198, 198);
  background: linear-gradient(135deg, #3ea285, #077760);
    border-radius: 10px;
    color: white;
    font-family: 'Satoshi';
    text-align: left;
    padding-bottom: 2rem;
    padding-left: 0.6rem;
    padding-top: 0.6rem;
    padding-right: 1rem;
  box-shadow: 0 2px 8px 2px rgba(80, 80, 80, 0.28);}